<a href="https://colab.research.google.com/github/OliviaG1/MLcamp2022/blob/main/Copy_of_Midterm_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input Texts

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
woman_text_one = '/content/drive/MyDrive/science_texts/cavendish.natpix.txt'
woman_text_two = '/content/drive/MyDrive/science_texts/cavendish.observations.txt'
woman_text_three = '/content/drive/MyDrive/science_texts/cavendish.philosophical.txt'
woman_text_four = '/content/drive/MyDrive/science_texts/conway.philosophy.txt'
woman_text_five = '/content/drive/MyDrive/science_texts/stone.midwifery.txt'
woman_text_six = '/content/drive/MyDrive/science_texts/wolley.cook.txt'
text_test = '/content/drive/MyDrive/science_texts/test/grey.secretphysick.txt'

woman_texts = [woman_text_one, woman_text_two, woman_text_three, woman_text_four, woman_text_five, woman_text_six, text_test]

In [ ]:
man_text_one = 'https://www.gutenberg.org/cache/epub/5500/pg5500.txt'
man_text_two = 'https://www.gutenberg.org/cache/epub/67065/pg67065.txt'
man_text_three = 'https://www.gutenberg.org/files/15491/15491-0.txt'
man_text_four = 'https://www.gutenberg.org/cache/epub/25830/pg25830.txt'
man_text_five = 'https://www.gutenberg.org/files/64097/64097-0.txt'

man_texts = [man_text_one, man_text_two, man_text_three, man_text_four, man_text_five]

# Feature: Length

In [ ]:
for i in woman_texts:
  file = open(i, "r")
  text = file.read()
  each_word = text.split()
  print(i[i.rfind("/")+1:]  + f': Number of words - {len(each_word)}')

cavendish.natpix.txt: Number of words - 177648
cavendish.observations.txt: Number of words - 119032
cavendish.philosophical.txt: Number of words - 150610
conway.philosophy.txt: Number of words - 33672
stone.midwifery.txt: Number of words - 21608
wolley.cook.txt: Number of words - 18922
grey.secretphysick.txt: Number of words - 33399

In [ ]:
import nltk
nltk.download('punkt')
from nltk import tokenize

dict_sentence_w = {}

for i in woman_texts:
  file = open(i, "r")
  text = file.read()
  text = text[0:text.rfind("Finis.")]
  text = text[0:text.rfind("The End")]
  each_word = text.split()
  print(i[i.rfind("/")+1:]  + f': Number of words - {len(each_word)}')

  each_sentence = tokenize.sent_tokenize(text) #break text into sentences
  dict_sentence_w[i] = each_sentence  
  print(i[i.rfind("/")+1:]  + f': Number of sentences - {len(each_sentence)}')

cavendish.natpix.txt: Number of words - 177483

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

cavendish.natpix.txt: Number of sentences - 3382
cavendish.observations.txt: Number of words - 119032
cavendish.observations.txt: Number of sentences - 1520
cavendish.philosophical.txt: Number of words - 150609
cavendish.philosophical.txt: Number of sentences - 1879
conway.philosophy.txt: Number of words - 33671
conway.philosophy.txt: Number of sentences - 699
stone.midwifery.txt: Number of words - 21606
stone.midwifery.txt: Number of sentences - 764
wolley.cook.txt: Number of words - 18921
wolley.cook.txt: Number of sentences - 440
grey.secretphysick.txt: Number of words - 33398
grey.secretphysick.txt: Number of sentences - 1016

In [ ]:
dict_ten_sentences_w = {}
for j in dict_sentence_w:
  dict_ten_sentences_w[j] = []
  for i in range(0, len(dict_sentence_w[j]), 10):
    ten_sentences = ""
    for k in range(10):
      if (i+k) < len(dict_sentence_w[j]):
        ten_sentences += dict_sentence_w[j][i+k] + " "
    dict_ten_sentences_w[j].append(ten_sentences.strip())

In [ ]:
for j in dict_ten_sentences_w: 
  print(j[j.rfind("/")+1:]  + f': Groups of ten sentences - {len(dict_ten_sentences_w[j])}')

cavendish.natpix.txt: Groups of ten sentences - 339
cavendish.observations.txt: Groups of ten sentences - 152
cavendish.philosophical.txt: Groups of ten sentences - 188
conway.philosophy.txt: Groups of ten sentences - 70
stone.midwifery.txt: Groups of ten sentences - 77
wolley.cook.txt: Groups of ten sentences - 44
grey.secretphysick.txt: Groups of ten sentences - 102

In [ ]:
for j in dict_ten_sentences_w: 
  dict_ten_sentences_w[j].pop(0)
  dict_ten_sentences_w[j].pop()
  dict_ten_sentences_w[j] = list(filter(lambda x: len(x)>=1000, dict_ten_sentences_w[j]))
  print(j[j.rfind("/")+1:]  + f': Groups of ten sentences - {len(dict_ten_sentences_w[j])}')

cavendish.natpix.txt: Groups of ten sentences - 322
cavendish.observations.txt: Groups of ten sentences - 142
cavendish.philosophical.txt: Groups of ten sentences - 185
conway.philosophy.txt: Groups of ten sentences - 57
stone.midwifery.txt: Groups of ten sentences - 68
wolley.cook.txt: Groups of ten sentences - 41
grey.secretphysick.txt: Groups of ten sentences - 76

In [ ]:
from urllib import request
for url in man_texts:
  response = request.urlopen(url)
  text = response.read().decode('utf8')
  each_word = text.split()
  print(url[url.rfind("/")+1:]  + f': Number of words - {len(each_word)}')

pg5500.txt: Number of words - 86899
pg67065.txt: Number of words - 79069
15491-0.txt: Number of words - 158119
pg25830.txt: Number of words - 25118
64097-0.txt: Number of words - 130511

In [ ]:
import nltk
nltk.download('punkt')
from nltk import tokenize

dict_sentence_m = {}

for url in man_texts:
  response = request.urlopen(url)
  text = response.read().decode('utf8')
  a = text.find("*** START OF")
  if (a == -1):
    a = 0
  b = text.find("***START OF")
  if (b == -1):
    b = 0
  c = text.rfind("*** END OF")
  d = text.rfind("***END OF")
  text = text[a:c]
  text = text[b:d]
  text = text.replace("_", "")
  text = text.replace("\r\n", " ")
  each_word = text.split()
  print(url[url.rfind("/")+1:]  + f': Number of words - {len(each_word)}')

  each_sentence = tokenize.sent_tokenize(text) #break text into sentences
  dict_sentence_m[url] = each_sentence  
  print(url[url.rfind("/")+1:]  + f': Number of sentences - {len(each_sentence)}')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

pg5500.txt: Number of words - 83833
pg5500.txt: Number of sentences - 1772
pg67065.txt: Number of words - 75981
pg67065.txt: Number of sentences - 1618
15491-0.txt: Number of words - 155045
15491-0.txt: Number of sentences - 2756
pg25830.txt: Number of words - 22100
pg25830.txt: Number of sentences - 378
64097-0.txt: Number of words - 127334
64097-0.txt: Number of sentences - 4578

In [ ]:
dict_ten_sentences_m = {}
for j in dict_sentence_m:
  dict_ten_sentences_m[j] = []
  for i in range(0, len(dict_sentence_m[j]), 10):
    ten_sentences = ""
    for k in range(10):
      if (i+k) < len(dict_sentence_m[j]):
        ten_sentences += dict_sentence_m[j][i+k] + " "
    dict_ten_sentences_m[j].append(ten_sentences.strip())

In [ ]:
for j in dict_ten_sentences_m: 
  print(j[j.rfind("/")+1:]  + f': Groups of ten sentences - {len(dict_ten_sentences_m[j])}')

pg5500.txt: Groups of ten sentences - 178
pg67065.txt: Groups of ten sentences - 162
15491-0.txt: Groups of ten sentences - 276
pg25830.txt: Groups of ten sentences - 38
64097-0.txt: Groups of ten sentences - 458

In [ ]:
for j in dict_ten_sentences_m: 
  dict_ten_sentences_m[j].pop(0)
  dict_ten_sentences_m[j].pop()
  dict_ten_sentences_m[j] = list(filter(lambda x: len(x)>=1000, dict_ten_sentences_m[j]))

  print(j[j.rfind("/")+1:]  + f': Groups of ten sentences - {len(dict_ten_sentences_m[j])}')

pg5500.txt: Groups of ten sentences - 175
pg67065.txt: Groups of ten sentences - 155
15491-0.txt: Groups of ten sentences - 228
pg25830.txt: Groups of ten sentences - 36
64097-0.txt: Groups of ten sentences - 277

In [ ]:
import pandas as pd 

w_training_data = []
for i in dict_ten_sentences_w:
  if i != '/content/drive/MyDrive/science_texts/test/grey.secretphysick.txt':
    w_training_data.extend(dict_ten_sentences_w[i])
all_women_training_data = pd.DataFrame.from_dict(w_training_data)
all_women_training_data

                                                     0
0    To the Lady Marchioness of Newcastle, on her B...
1    A Copy of Verses to the Lady Marchioness of Ne...
2    If all these Wits were prais'd for several way...
3    Margaret Newcastle. To the Reader. As for thos...
4    To My Readers. I Must intreat my Readers to ta...
..                                                 ...
810  To make Pig eat like Lamb. Take a fat Pig, fle...
811  Boyl your Cream, and put Eggs into it, as for ...
812  Take a Lemmon pared & sliced very thin, cover ...
813  Take sweet Amonds blanched and beaten with Ros...
814  Take a pound of fine Sugar, eight spoonfuls of...

[815 rows x 1 columns]

In [ ]:
testing_data = pd.DataFrame.from_dict(dict_ten_sentences_w['/content/drive/MyDrive/science_texts/test/grey.secretphysick.txt'])
testing_data

                                                    0
0   For the Wind Collick. For one that cannot make...
1   Take a pennie weight of the powder of gold, si...
2   This water dissolveth swelling of the Lungs, a...
3   You must adde to it the quantity of a quarter ...
4   Take Turpentine, slice it thin, and lay it on ...
..                                                ...
71  It is good against Surfets, and easeth the sto...
72  The dose is one spoonfull at one time. The Ver...
73  Virtue of Spirit of Roses. It is good to open ...
74  It is an excellent comforter of the Spirits vi...
75  A Childe aged about fourteen yeares, being sud...

[76 rows x 1 columns]

In [ ]:
m_training_data = []
for i in dict_ten_sentences_m:
  m_training_data.extend(dict_ten_sentences_m[i])
all_men_training_data = pd.DataFrame.from_dict(m_training_data)
all_men_training_data

                                                     0
0    At London. Printed for Henrie Tomes, and are t...
1    The family home was at York Place, and at Gorh...
2    That was a little book containing only ten ess...
3    That was the position of Francis Bacon in 1605...
4    But your Majesty’s manner of speech is, indeed...
..                                                 ...
866  These Things, consisting in the Corruption and...
867  NOW this Method of Cure, in short, being taken...
868  But as I leave all Men to think and judge for ...
869  I have carefully perus’d other Men’s WORKS, Mo...
870  Fallopius  Favorinus  Fernelius  Florentinus N...

[871 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np

women_y_train = np.ones(all_women_training_data.shape)
men_y_train = np.zeros(all_men_training_data.shape)

full_X_train = pd.concat([all_women_training_data, all_men_training_data], ignore_index = True)
y_train = np.vstack((women_y_train, men_y_train))
labels = np.ones(testing_data.shape)

#full_X_train, y_train, testing_data, labels

# Feature: PoS

In [ ]:
pos_tags = [('CC', 'coordinating conjunction'), 
            ('IN', 'preposition/subordinating conjunction'), 
            ('JJ', 'adjective'),
            ('JJR', 'adjective, comparative'),
            ('JJS', 'adjective, superlative'),
            ('MD', 'modal'),
            ('NN', 'noun, singular'),
            ('NNS', 'noun plural'),
            ('NNP', 'proper noun, singular'),
            ('NNPS', 'proper noun, plural'),
            ('PRP', 'personal pronoun'),
            ('PRP$', 'possessive pronoun'),
            ('RB', 'adverb'),
            ('RBR', 'adverb, comparative'),
            ('RBS', 'adverb, superlative'),
            ('UH', 'interjection'),
            ('VB', 'verb, base form'),
            ('VBD', 'verb, past tense'),
            ('VBG', 'verb, gerund/present participle'),
            ('VBN', 'verb, past participle'),
            ('VBP', 'verb, sing. present, non-3d'),
            ('VBZ', 'verb, 3rd person sing. present')]

tag_names = []
for i in pos_tags:
  tag_names.append(i[0])

import spacy
def num_tags(document):
  tags = nltk.pos_tag(document)
  result=[]
  for i in pos_tags:
    current_tag=0
    for j in tags:
      if(j[1] == i[0]):
        current_tag += 1
    result.append(current_tag)
  return result

In [ ]:
from nltk.tokenize import word_tokenize
nltk.download('averaged_perceptron_tagger')

pos_train = []
for i in full_X_train[0]:
  pos_train.append(num_tags(word_tokenize(i)))

pos_test = []
for i in testing_data[0]:
  pos_test.append(num_tags(word_tokenize(i)))

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
lengths_train = []
for i in full_X_train[0]:
  l = []
  l.append(len(i.split()))
  lengths_train.append(l)

lengths_test = []
for i in testing_data[0]:
  l = []
  l.append(len(i.split()))
  lengths_test.append(l)

In [ ]:
from nltk.stem import PorterStemmer
nltk.download('wordnet')
nltk.download('omw-1.4')
sp = spacy.load('en_core_web_sm')

def preprocessing(x):
  x = x.lower()
  all_stopwords = sp.Defaults.stop_words
  x = ' '.join([word for word in x.split() if word not in (all_stopwords)])
  x = ' '.join([word for word in x.split() if word.isalnum()])
  lemmatizer = nltk.stem.WordNetLemmatizer()
  x = ' '.join([lemmatizer.lemmatize(word) for word in x.split()])
  return(x)


full_X_train[0] = full_X_train[0].apply(preprocessing)
testing_data[0] = testing_data[0].apply(preprocessing)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
type(np.array(pos_train))

numpy.ndarray

# Feature: tf-idf

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
all_X_train = vectorizer.fit_transform(full_X_train[0])

In [ ]:
df_X_train = pd.DataFrame(all_X_train.todense())
df_X_train.columns = vectorizer.get_feature_names()
df_X_train

df_pos_train = pd.DataFrame(pos_train)
df_pos_train.columns = tag_names
df_pos_train

df_lengths_train = pd.DataFrame(lengths_train)
df_lengths_train.columns = ['Length']
df_lengths_train

X_train = pd.concat((df_X_train, df_pos_train, df_lengths_train), axis = 1)
X_train

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,01,01½,01⅐,01⅓,01⅔,01⅚,02,03,04,...,RBR,RBS,UH,VB,VBD,VBG,VBN,VBP,VBZ,Length
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,21,0,4,1,11,5,254
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,0,0,20,4,4,3,15,10,424
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,20,6,5,11,18,7,416
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,0,54,9,7,9,30,10,730
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,39,10,5,14,34,14,675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5,3,0,36,9,15,11,17,20,870
1682,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,0,17,2,2,1,8,4,283
1683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3,0,1,30,8,15,10,24,3,585
1684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,3,0,34,4,14,19,28,9,700
1685,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,2,0,1,2,1,1,177

# SVM

In [ ]:
all_X_test = vectorizer.transform(testing_data[0])

df_X_test = pd.DataFrame(all_X_test.todense())
df_X_test.columns = vectorizer.get_feature_names()

df_pos_test = pd.DataFrame(pos_test)
df_pos_test.columns = tag_names
df_pos_test

df_lengths_test = pd.DataFrame(lengths_test)
df_lengths_test.columns = ['Length']
df_lengths_test

X_test = pd.concat((df_X_test, df_pos_test, df_lengths_test), axis = 1)
X_test

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,01,01½,01⅐,01⅓,01⅔,01⅚,02,03,04,...,RBR,RBS,UH,VB,VBD,VBG,VBN,VBP,VBZ,Length
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,22,0,1,4,5,1,276
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,12,3,1,4,8,1,296
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,51,5,14,11,2,17,709
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,19,3,1,2,2,4,279
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,29,10,2,3,1,4,389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,5,1,3,0,1,18,204
72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,5,0,4,1,1,18,194
73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,4,1,2,3,4,15,205
74,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,0,23,12,3,8,4,7,447
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,2,37,19,31,0,2,613

In [ ]:
from sklearn import svm
clf = svm.SVC(C=10, kernel='linear')
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=10, kernel='linear')

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
accuracy = accuracy_score(labels, y_pred)
accuracy

0.8421052631578947

In [ ]:
weights = clf.coef_[0].tolist()
for i in range(len(weights)):
  if(weights[i]>0.8):
    print("feature: " + str(X_train.columns[i]) + " weight: " + str(weights[i]))

feature: art weight: 0.9129949473208896
feature: boile weight: 0.9516103146924659
feature: child weight: 1.3129810536828506
feature: concerning weight: 0.9953171530845281
feature: corporeal weight: 1.1607465853179146
feature: creature weight: 1.725501188051547
feature: delivery weight: 0.9214941246062792
feature: doth weight: 1.0124207779745427
feature: exterior weight: 1.0508681679954779
feature: figure weight: 1.4874084598663686
feature: fire weight: 1.0027757237591557
feature: god weight: 1.0145215402314829
feature: hath weight: 0.9804320428498075
feature: infinite weight: 0.8310407074414154
feature: madam weight: 1.2730846363560298
feature: make weight: 1.0653216798625245
feature: motion weight: 0.9610665313218326
feature: onely weight: 1.3117263285754301
feature: said weight: 1.0521078518122828
feature: sensitive weight: 1.029665864143288
feature: sent weight: 0.9605813533286154
feature: son weight: 0.8060236721611519
feature: spirit weight: 1.001063061406008
feature: sweet weight: 0.8182226950449674
feature: woman weight: 1.1319961535893934